html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #659dbd;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
h1 {
    text-align: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
h2 {
    color: #fbeec1;
    text-decoration: underline;
}
p {
    font-family: cursive;
}

/* Sub Menus */
.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
.container > div ol {
    list-style-position: inside;
    padding: 0;
}
input {
    width: 18px;
}

/* Buttons*/
.button-group {
    margin: 20px 0;
}
#complete-btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #daad86;
    border-radius: 8px;
}
#clear-btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #daad86;
    border-radius: 8px;
}

/* Order Result */
.receipt ul li {
    list-style: none;
    padding: 10px 0;
}
